RewriteEngine On
RewriteBase /

# Проверяем, существует ли такой файл в папке public
RewriteCond %{DOCUMENT_ROOT}/public/$0 -f
RewriteRule .+ public/$0 [L]

AddDefaultCharset UTF-8

RewriteRule .* www/index.php [L,QSA]