RewriteEngine On
RewriteBase /

# Проверяем, существует ли такой файл в папке static
RewriteCond %{DOCUMENT_ROOT}/static/$0 -f
RewriteRule .+ static/$0 [L]

# Убераем дубликаты с index и / на конце
RewriteRule ^(.+)/$ $1 [L,R=301]
RewriteRule ^([^/]+)/(main|index)$ $1 [L,R=301]
RewriteRule ^index$ / [L,R=301]

AddDefaultCharset UTF-8

# Перенаправляем всех в единую точку входа
RewriteRule .* www/index.php [L,QSA]